{% extends 'base.html' %}
{% block content %}
<div class="container text-center my-5">
    <h1>Stock Valuator</h1>
</div>
<div class="container position-relative justify-content-center my-3">
    <form action="/search" method="POST">
        <div class="row my-5">
            <div class="col">
                <input class="form-control form-control-lg" id="search-term" type="text"
                    placeholder="Search for symbols (e.g. MSFT)" name="search-term" />
            </div>
            <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

    
{% endblock %}