{% extends 'base.html' %}
{% block content %}
<div id="query-data" data-growth="{{query['growth']}}" data-margin="{{query['margin']}}" data-pe="{{query['pe']}}" data-user="{{user}}"></div>
<div class="container text-center my-5">
    <h1 id="stock-ticker">{{data['ticker']}}</h1>
</div>
<!-- <div class="row">

    <div class="col-6">
        <h3>Historical</h3>
    </div>
    <div class="col-6">
        <h3>Forecast</h3>
    </div>
</div> -->
<div class="row my-3">
    <div class="col-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="view-toggle">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="dollar" checked value="0"> $ amount
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="perc-growth" value="1"> % growth
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="perc-rev" value="2"> % of revenue
            </label>
        </div>
    </div>
    <div class="col-6"></div>
    <div class="col-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#save-forecast">Save Forecast</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save-forecast" tabindex="-1" role="dialog" aria-labelledby="save-forecast-title" aria-hidden="true">
    <div class="modal-dialog save-forecast" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="form-title">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container" id="form-flash-msgs">
            </div>
            <form method="POST" id="login-form">
                {{ login_form.hidden_tag() }} <!--add type=hidden form fields -->
              
                {% for field in login_form
                       if field.widget.input_type != 'hidden' %}
              
                  <p>
                    {{ field.label }}
                    {{ field }}
              
                    {% for error in field.errors %}
                      {{ error }}
                    {% endfor %}
                  </p>
              
                {% endfor %}
                  <div id="login">
                <button type="submit" class="my-3">Login</button>
                <p>Don't have an account? <a href="" id="switch-to-signup">Sign up</a></p>
            </div>  
            <div id="signup">
                <button type="submit" class="my-3">Sign up</button>
                <p>Already have an account? <a href="" id="switch-to-login">Log in</a></p>
            </div>
                
              </form>

              <form method="POST" id="save-form">
                {{ save_form.hidden_tag() }} <!--add type=hidden form fields -->
              
                {% for field in save_form
                       if field.widget.input_type != 'hidden' %}
              
                  <p>
                    {{ field.label }}
                    {{ field }}
              
                    {% for error in field.errors %}
                      {{ error }}
                    {% endfor %}
                  </p>
              
                {% endfor %}
                  <div id="login">
                <button type="submit" class="my-3">Save Forecast</button>
            </div>  
                
              </form>
            
        </div>
      </div>
    </div>
  </div>

<h2>Financials</h2>
<table class="table" id="forecast-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{data['periods'][0].year}}</th>
            <th scope="col">{{data['periods'][1].year}}</th>
            <th scope="col">{{data['periods'][2].year}}</th>
            <th scope="col">{{data['periods'][3].year}}</th>
            <th scope="col">{{data['periods'][3].year + 1}}E</th>
            <th scope="col">{{data['periods'][3].year + 2}}E</th>
            <th scope="col">{{data['periods'][3].year + 3}}E</th>
            <th scope="col">{{data['periods'][3].year + 4}}E</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Revenue</th>
            <td id="hist-revenue0" class="hist">{{data['revenue'][0]}}</td>
            <td id="hist-revenue1" class="hist">{{data['revenue'][1]}}</td>
            <td id="hist-revenue2" class="hist">{{data['revenue'][2]}}</td>
            <td id="hist-revenue3" class="hist">{{data['revenue'][3]}}</td>
            <td><input type="text" class="form-control table-input rev" placeholder="" id="revenue0"></td>
            <td><input type="text" class="form-control table-input rev" placeholder="" id="revenue1"></td>
            <td><input type="text" class="form-control table-input rev" placeholder="" id="revenue2"></td>
            <td><input type="text" class="form-control table-input rev" placeholder="" id="revenue3"></td>
        </tr>
        <tr>
            <th scope="row">Cost of Revenue</th>
            <td id="hist-cogs0" class="hist">{{data['cogs'][0]}}</td>
            <td id="hist-cogs1" class="hist">{{data['cogs'][1]}}</td>
            <td id="hist-cogs2" class="hist">{{data['cogs'][2]}}</td>
            <td id="hist-cogs3" class="hist">{{data['cogs'][3]}}</td>
            <td><input type="text" class="form-control table-input cogs" placeholder="" id="cogs0"></td>
            <td><input type="text" class="form-control table-input cogs" placeholder="" id="cogs1"></td>
            <td><input type="text" class="form-control table-input cogs" placeholder="" id="cogs2"></td>
            <td><input type="text" class="form-control table-input cogs" placeholder="" id="cogs3"></td>
        </tr>
        <tr>
            <th scope="row">Gross Income</th>
            <td id="hist-gross-income0" class="hist">{{data['revenue'][0] - data['cogs'][0]}}</td>
            <td id="hist-gross-income1" class="hist">{{data['revenue'][1] - data['cogs'][1]}}</td>
            <td id="hist-gross-income2" class="hist">{{data['revenue'][2] - data['cogs'][2]}}</td>
            <td id="hist-gross-income3" class="hist">{{data['revenue'][3] - data['cogs'][3]}}</td>
            <td class='calc' id="gross-income0"></td>
            <td class='calc' id="gross-income1"></td>
            <td class='calc' id="gross-income2"></td>
            <td class='calc' id="gross-income3"></td>
        </tr>
        <tr>
            <th scope="row">Operating Expenses</th>
            <td id="hist-opex0" class="hist">{{data['opex'][0]}}</td>
            <td id="hist-opex1" class="hist">{{data['opex'][1]}}</td>
            <td id="hist-opex2" class="hist">{{data['opex'][2]}}</td>
            <td id="hist-opex3" class="hist">{{data['opex'][3]}}</td>
            <td><input type="text" class="form-control table-input opex" placeholder="" id="opex0"></td>
            <td><input type="text" class="form-control table-input opex" placeholder="" id="opex1"></td>
            <td><input type="text" class="form-control table-input opex" placeholder="" id="opex2"></td>
            <td><input type="text" class="form-control table-input opex" placeholder="" id="opex3"></td>
        </tr>
        <tr>
            <th scope="row">Earnings Before Depreciation (EBITDA)</th>
            <td id="hist-ebitda0" class="hist">{{data['revenue'][0] - data['cogs'][0] - data['opex'][0]}}</td>
            <td id="hist-ebitda1" class="hist">{{data['revenue'][1] - data['cogs'][1] - data['opex'][1]}}</td>
            <td id="hist-ebitda2" class="hist">{{data['revenue'][2] - data['cogs'][2] - data['opex'][2]}}</td>
            <td id="hist-ebitda3" class="hist">{{data['revenue'][3] - data['cogs'][3] - data['opex'][3]}}</td>
            <td class='calc' id="ebitda0"></td>
            <td class='calc' id="ebitda1"></td>
            <td class='calc' id="ebitda2"></td>
            <td class='calc' id="ebitda3"></td>
        </tr>
        <tr>
            <th scope="row">Depreciation</th>
            <td id="hist-depreciation0" class="hist">{{data['depreciation'][0]}}</td>
            <td id="hist-depreciation1" class="hist">{{data['depreciation'][1]}}</td>
            <td id="hist-depreciation2" class="hist">{{data['depreciation'][2]}}</td>
            <td id="hist-depreciation3" class="hist">{{data['depreciation'][3]}}</td>
            <td><input type="text" class="form-control table-input depreciation" placeholder="" id="depreciation0"></td>
            <td><input type="text" class="form-control table-input depreciation" placeholder="" id="depreciation1"></td>
            <td><input type="text" class="form-control table-input depreciation" placeholder="" id="depreciation2"></td>
            <td><input type="text" class="form-control table-input depreciation" placeholder="" id="depreciation3"></td>
        </tr>
        <tr>
            <th scope="row">Operating Income</th>
            <td id="hist-operating-income0" class="hist">{{data['revenue'][0] - data['cogs'][0] - data['opex'][0] -
                data['depreciation'][0]}}</td>
            <td id="hist-operating-income1" class="hist">{{data['revenue'][1] - data['cogs'][1] - data['opex'][1] -
                data['depreciation'][1]}}</td>
            <td id="hist-operating-income2" class="hist">{{data['revenue'][2] - data['cogs'][2] - data['opex'][2] -
                data['depreciation'][2]}}</td>
            <td id="hist-operating-income3" class="hist">{{data['revenue'][3] - data['cogs'][3] - data['opex'][3] -
                data['depreciation'][3]}}</td>
            <td class='calc' id="operating-income0"></td>
            <td class='calc' id="operating-income1"></td>
            <td class='calc' id="operating-income2"></td>
            <td class='calc' id="operating-income3"></td>
        </tr>
        <tr>
            <th scope="row">Other Revenue or Expenses</th>
            <td id="hist-other0" class="hist">{{data['other'][0]}}</td>
            <td id="hist-other1" class="hist">{{data['other'][1]}}</td>
            <td id="hist-other2" class="hist">{{data['other'][2]}}</td>
            <td id="hist-other3" class="hist">{{data['other'][3]}}</td>
            <td><input type="text" class="form-control table-input other" placeholder="" id="other0"></td>
            <td><input type="text" class="form-control table-input other" placeholder="" id="other1"></td>
            <td><input type="text" class="form-control table-input other" placeholder="" id="other2"></td>
            <td><input type="text" class="form-control table-input other" placeholder="" id="other3"></td>
        </tr>
        <tr>
            <th scope="row">Net Income Before Tax</th>
            <td id="hist-ebt0" class="hist">{{data['revenue'][0] - data['cogs'][0] - data['opex'][0] -
                data['depreciation'][0] -
                data['other'][0]}}
            </td>
            <td id="hist-ebt1" class="hist">{{data['revenue'][1] - data['cogs'][1] - data['opex'][1] -
                data['depreciation'][1] -
                data['other'][1]}}
            </td>
            <td id="hist-ebt2" class="hist">{{data['revenue'][2] - data['cogs'][2] - data['opex'][2] -
                data['depreciation'][2] -
                data['other'][2]}}
            </td>
            <td id="hist-ebt3" class="hist">{{data['revenue'][3] - data['cogs'][3] - data['opex'][3] -
                data['depreciation'][3] -
                data['other'][3]}}
            </td>
            <td class='calc' id="ebt0"></td>
            <td class='calc' id="ebt1"></td>
            <td class='calc' id="ebt2"></td>
            <td class='calc' id="ebt3"></td>
        </tr>
        <tr>
            <th scope="row">Income Tax Expense</th>
            <td id="hist-tax0" class="hist">{{data['tax'][0]}}</td>
            <td id="hist-tax1" class="hist">{{data['tax'][1]}}</td>
            <td id="hist-tax2" class="hist">{{data['tax'][2]}}</td>
            <td id="hist-tax3" class="hist">{{data['tax'][3]}}</td>
            <td><input type="text" class="form-control table-input tax" placeholder="" id="tax0"></td>
            <td><input type="text" class="form-control table-input tax" placeholder="" id="tax1"></td>
            <td><input type="text" class="form-control table-input tax" placeholder="" id="tax2"></td>
            <td><input type="text" class="form-control table-input tax" placeholder="" id="tax3"></td>
        </tr>
        <tr>
            <th scope="row">Net Income</th>
            <td id="hist-net-income0" class="hist">{{data['net_income'][0]}}</td>
            <td id="hist-net-income1" class="hist">{{data['net_income'][1]}}</td>
            <td id="hist-net-income2" class="hist">{{data['net_income'][2]}}</td>
            <td id="hist-net-income3" class="hist">{{data['net_income'][3]}}</td>
            <td class='calc net-income' id="net-income0"></td>
            <td class='calc net-income' id="net-income1"></td>
            <td class='calc net-income' id="net-income2"></td>
            <td class='calc net-income' id="net-income3"></td>
        </tr>
    </tbody>
</table>
<div class="row my-3">
    <div class="container col-6">
        <h2>Valuation</h2>
        <table class="table" id="valuation-table">
            <tbody>
                <tr>
                    <th scope="row">P/E ratio</th>
                    <td><input type="text" class="form-control val pe" placeholder="" id="pe"></td>
                </tr>
                <tr>
                    <th scope="row">Forecasted EPS in {{data['periods'][3].year + 4}}</th>
                    <td class='calc' id="eps3"></td>
                </tr>
                <tr>
                    <th scope="row">Implied Share price</th>
                    <td class='val' id="price"></td>
                </tr>
                <tr>
                    <th scope="row">Annualized return</th>
                    <td class='val' id="return"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container col-6">
        <!-- <h2>Insights</h2>
        <h4>Your forecast is 93% more optimistic than analysts</h4> -->
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/app.js"></script>
{% endblock %}