{% extends 'base.html' %}
{% block content %}
<div class="container text-center my-5">
    <h1>{{user.username}}'s {{ticker}} coverage</h1>
</div>
<h2>{{user.username}}'s Forecasts</h2>
<form action="/user/{{user.username}}/forecast/{{ticker}}/update-weighting" method="post">
<table class="table" id="forecast-table">
    <thead>
        <tr>
            <th scope="col">Forecast Title</th>
            <th scope="col">Date</th>
            <th scope="col">Price Target</th>
            <th scope="col">Weighting</th>
        </tr>
    </thead>
    <tbody>
        {% for forecast in forecasts %}
        <tr>
            <th scope="row"><a href="/forecast/{{forecast.id}}">{{forecast.name}}</a></th>
            <th scope="row">{{forecast.date}}</th>
            <th scope="row">{{forecast.target}}</th>
            <th scope="row"><input type="text" class="form-control table-input" value="{{forecast.weight}}" name="{{forecast.id}}"></th>
        </tr>
        {%  endfor %}
    </tbody>
</table>
{% if g.user.username == user.username %}
<button type="submit" class="btn btn-success">Update Weighting</button>
{% endif %}
</form>

    
{% endblock %}